services:
  generator:
    build:
      context: ../
      dockerfile: docker/Dockerfile.generate.dev
    working_dir: /app
    command: ["sh", "-c", "buf generate && wire ./..."]
    volumes:
      - type: bind
        source: ..
        target: /app